*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

HTML{
    scroll-behavior: smooth;
}

.header{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-bottom: 1px solid #cccccc2a;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.logo{
    color: #bc534d;
    transition: 0.5s;
    font-family: "Jersey 15", sans-serif;
    font-size: 50px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 90px;
    padding-top: 30px;
    max-width: 2100px;
    margin: auto;
}
li a{
    padding: 10px 20px;
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
}
li a:hover{
    color: #bc534d;
    border: #bc534d solid 2px;
}
.logo:hover{
    transform: scale(1.5);
}
span{
    color: #bc534d;
    
}

.all-content{
    background: linear-gradient(#000000 , #271110);
}

.Content{

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    width: 80%;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: auto;
}
.img{
    width: 550px;
    border-radius: 50%;
    border: #ffffff3b 3px solid;
}
.hi{
    font-weight: 600;
}
.text h1{
    font-size: 60px;
    margin-bottom: 10px;
    font-family: "Jersey 15", sans-serif;
    font-size: 80px;
}

.text a{
    color: #ffffff;
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
}

.text p{
    font-size: 25px;
    width: 450px;
}
.t7t{
    margin-bottom: 40px;
}
.all-about{
    background-color: #000000;
    padding-top: 5rem;
}
.about a{
    text-decoration: none;
    background-color: #bc534d;
    padding: 10px 20px;
    border-radius: 25px;
    border: 0;
    margin-left: 200px;
}
.about a:hover{
    color: #000000;
    background-color: #ffffff;
}
.about-sec{
    padding: 40px;
    max-width: 2100px;
    width: 80%;
    margin: auto;
}
.about-sec h1{
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: "Jersey 15", sans-serif;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;

}
.about-one p{
    width: 900px;
    font-size: 20px;
    font-weight: 300;

}
.about-one h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.about-two p{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px #a1a1a146;
}

.all-skills{
    background-color: #000000;

}

.skills{
    width: 80%;
    max-width: 2100px;
    margin: auto;
    padding-bottom: 70px;
}

.skill-head, .serv-head, .prot-head, .supp-head{
    padding-top: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: "Jersey 15", sans-serif;
}
.skill-content{
    
    max-width: 1050px;
    margin: auto;
    padding: 20px;
    background-color: #1b1b1b;
    border-radius: 10px;
}
.html{
    width: 50px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.item p{
    margin-top: 5px;
    font-weight: 700;
}
.item{
    background-color: #000000;
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    transition: 0.5s;
}

.item:hover{
    box-shadow: 10px 10px 10px #00f4ab0c;
}

.all-serv{
    background-color: black;
    padding-top: 5rem;
}

.Serv{
    width: 80%;
    margin: auto;
    max-width: 2100px;
    padding-bottom: 50px;
}

.serv-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff23;
    padding: 40px 50px;
    border-radius: 15px;
    gap: 5px;
    color: #ffff;
    box-shadow: 2px 2px 5px #ffffff44;
    transition: 0.5s;
}

.serv-item p{
    margin-top: 10px;
    text-align: center;
}

.serv-item:hover{
    transform: scale(1.08);
}

.serv-item img{
    width: 80px;
    margin-bottom: 15px;
}

.Serv-cont{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    column-gap: 50px;
    row-gap: 80px;
}


.all-protfolio{
    background: linear-gradient(#000000 , #271110);
    padding-top: 5rem;
}

.protfolio{
    width: 80%;
    max-width: 2100px;
    margin: auto;
}
.cont-protfolio{

    padding-top: 30px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.prot-items{

    padding: 0 0 30px 0;
    border-radius: 30px 30px 20px 20px;
    width: fit-content;
    background-color: #1b1b1b65;
    transition: 0.5s;
}

.prot-items:hover{
    transform: scale(1.05);
}

.cont-protfolio img{

    width: 100%;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid #ccc;
}

.prot-content{
    padding: 20px 14px 30px;
}

.prot-content a{
    color: #fff;
    text-decoration: none;
    color: #bc534d;
    font-size: 14px;
    font-weight: 500;
}

.prot-content h3{
    font-size: 22px;
    margin-bottom: 10px;
}


.all-supp{
    background-color: #271110;
    padding-bottom: 4rem;
}

.supp{
    max-width: 2100px;
    margin: auto;
    width: 80%;
}

.supp-main{
    background-color: #1b1b1b25;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    box-shadow: 3px 3px 20px #0000003a;
    padding: 40px 60px;
    border-radius: 10px;
    column-gap: 150px;
    
}

.supp-main input, textarea{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 18px 0;
    outline: none;
    background-color: #2e2e2e80;
    border: 0;
    color: #fff;
    
}

.supp-main img{
    width: 500px;
}

.supp-main button{
    background-color: #bc534d;
    padding: 10px 20px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
}

.supp-main button:hover{
    background-color: #fff;
    color: #000000;
}

.footer{
    background-color: #000000;
    padding: 1rem 0;
    text-align: center;
}


@media (max-width: 1168px){
    .header ul{
        display: block;
        text-align: center;
        padding: 30px 0px;
    }

    .header ul li{
        margin-top: 20px;
    }
    
    .header ul li a{
        margin: 0 5px;
    }
    
    .Content{
        flex-direction: column;
    }
    
    .Content img{
        margin-top: 200px;
        max-width: 400px;
    }

    .about-content{
        flex-direction: column;
    }

    .about-one{
        margin-bottom: 100px;
        width: 100%;
    }
    .about-one p{
        width: 100%;
    }

    .about-two{
        width: 100%;
    }

    .cards{
        flex-direction: column;
    }

    .Serv-cont ,.cont-protfolio, .supp-main{
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
    }

    .supp-main{
        grid-template-columns: 1fr;
    }
    .supp-main img{
        width: 300px;
        margin: auto
    }
}

@media (max-width: 528px){

    .header ul li a{
        font-size: 10px;
        padding: 5px 10px;
    }

    .header ul .logo{
        font-size: 15px;
    }

    .Content .img{
        width: 350px;
    }

    .supp-main img{
        width: 190px;
    }

    .Content h1{
        font-size: 40px;
    }
    .Content p{
        width: 300px;
    }

    .Content a{
        margin: auto;
    }
    
    .Serv-cont ,.cont-protfolio, .supp-main{
        grid-template-columns: 1fr;
    }
}